<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-card>
    <button md-button [md-menu-trigger-for]="menu">
      MENU
    </button>
  </md-card>

</md-sidenav-layout>

<h1>
  {{title}}
</h1>

<button (click)="handleBtnClick()" md-raised-button color='primary'>Button here</button>
<button (click)="handleBtnClick()" md-raised-button color='primary'>Button here</button>
<button (click)="handleBtnClick()" md-raised-button color='primary'>Button here</button>
<button (click)="handleBtnClick()" md-raised-button color='primary'>Button here</button>
<button (click)="handleBtnClick()" md-raised-button color='primary'><md-icon>home</md-icon></button>
<button>Normal button</button>