<h1>
  {{title}}
</h1>

<button (click)="handleBtnClick()" md-raised-button color='primary'>Button here</button>
<button (click)="handleBtnClick()" md-raised-button color='primary'>Button here</button>
<button (click)="handleBtnClick()" md-raised-button color='primary'>Button here</button>
<button (click)="handleBtnClick()" md-raised-button color='primary'>Button here</button>
<button (click)="handleBtnClick()" md-raised-button color='primary'><md-icon>home</md-icon></button>
<button>Normal button</button>