<h1>
  {{title}}
</h1>
<button (click)="add()">Add</button>
<button (click)="update()">Update</button>
<button (click)="addCuisine7()">Add Cuisine 7</button>
<button (click)="changeCuisine7()">Change Cuisine 7</button>
<button (click)="deleteCuisine7()">Delete Cuisine 7</button>
<button (click)="removeCuisine7()">Remove Cuisine 7</button>
<h2>Cuisines</h2>
<ul>
  <li *ngFor="let c of cuisines | async">{{c.$value}}</li>
</ul>

<div *ngIf="(featureExists | async)?.$value">Exists!</div>
<h2>Restaurants</h2>
<ul>
  <li *ngFor="let r of restaurants | async">
    {{r.name}} - {{(r.cuisineType | async)?.$value}}
    <ul>
      <li *ngFor="let f of r.featureTypes">
        {{ (f | async)?.$value }}
      </li>
    </ul>
  </li>
</ul>


